<div class="container">
  <div class="logo">
    <img class="logo" src="../../assets/img/logo1.png">
  </div>
  <div class="btn">
    <button (click)="home()">Home</button>
    <button (click)="sobre()">Sobre</button>
    <button (click)="qualificacoes()">Qualificações</button>
    <button (click)="portfolio()">Portfólio</button>
    <button (click)="youtube()">Vatien</button>
    <button (click)="contato()">Contato</button>
    <button (click)="jorivi()">Cervejaria Jorivi</button>
  </div>
</div>
