<div class="container">
  <div class="icons">
    <fa-icon [icon]="faInstagram"  ></fa-icon>
    <fa-icon [icon]="faFacebook"></fa-icon>
    <fa-icon [icon]="faTwitter"></fa-icon>
    <fa-icon [icon]="faYoutube"></fa-icon>
    <fa-icon [icon]="faTelegram"></fa-icon>
    <fa-icon [icon]="faGithub"></fa-icon>
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <fa-icon [icon]="faWhatsapp"></fa-icon>
  </div>
  <div class="layout">
    <button class="btn" [class.btn-dark]="isDarkTheme" [class.btn-light]="!isDarkTheme" (click)="toggleTheme()">
      <span class="theme-text" *ngIf="isDarkTheme">Light</span>
      <span class="theme-text" *ngIf="!isDarkTheme"> Dark</span>
    </button>
  </div>
</div>
