<div class="container">
  <div class="icons">
    <fa-icon [icon]="faInstagram"  (click)="instagram()"></fa-icon>
    <fa-icon [icon]="faFacebook" (click)="facebook()"></fa-icon>
    <fa-icon [icon]="faTwitter" (click)="twitter()"></fa-icon>
    <fa-icon [icon]="faYoutube" (click)="youtube()"></fa-icon>
    <fa-icon [icon]="faTelegram" (click)="telegram()"></fa-icon>
    <fa-icon [icon]="faGithub" (click)="github()"></fa-icon>
    <fa-icon [icon]="faEnvelope" (click)="email()"></fa-icon>
    <fa-icon [icon]="faWhatsapp" (click)="whatsapp()"></fa-icon>
  </div>
  <div class="layout">
    <button class="btn" [class.btn-dark]="isDarkTheme" [class.btn-light]="!isDarkTheme" (click)="toggleTheme()">
      <span class="theme-text" *ngIf="isDarkTheme">Tema Claro</span>
      <span class="theme-text" *ngIf="!isDarkTheme"> Tema Escuro</span>
    </button>
  </div>
</div>
