.container {
  width: 40%;
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 7%;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--cor-branco);
  border-radius: 10px;
  padding: 2%;
  padding-left: 4%;
}
h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: var(--cor-btn-bg);
  width: 98%;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 3px 5px 3px var(--cor-preto);
  cursor: pointer;
  padding: 10px;
  text-align: center;
}
li {
  font-weight: 200;
}
