<div class="container">
  <h1>Sobre</h1>
  <p>Olá, eu sou Victor, um desenvolvedor Full Stack com experiência em diversas tecnologias,
    incluindo Angular, Node.js e MySQL. Tenho formação em Engenharia Química pela USP e mestrado na mesma área
    com foco em otimização de processos. Meu objetivo é trabalhar em projetos desafiadores que me permitam
    crescer e me tornar um profissional ainda mais qualificado.</p>

  <p> Além do meu trabalho como desenvolvedor, apresento um canal no YouTube chamado Vatien,
    onde compartilho informações sobre o mercado de criptomoedas e análises de investimento.
    Abordamos temas importantes e relevantes no mundo das criptomoedas, como análises de mercado,
    análise técnica, notícias e atualizações sobre as principais moedas digitais, além de dicas de empreendedorismo
    e produtividade. Buscamos apresentar os conteúdos com um conhecimento sólido sobre o assunto e estudamos
    a fundo para trazer as informações de maneira clara e objetiva.</p>

  <p>Sou também um entusiasta em mineração de criptomoedas e estou sempre estudando e fazendo
    testes nessa área, sempre em busca de novos desafios e oportunidades de aprendizado.
    Acredito que compartilhar minhas experiências pode ajudar outras pessoas, e esse é
    o objetivo do meu canal no YouTube: compartilhar conhecimento de forma simples e objetiva, gratuitamente a todos.
  </p>

  <p>Por último, gostaria de convidá-los a conhecer um hobby a produção de cerveja artesanal. Aplico conceitos de
    engenharia
    química para obter um produto de qualidade, em Família juntos criamos a cervejaria Jorivi, onde fazemos cerveja
    artesanalmente em casa,
    buscando reunir a família e nos divertir. Espero que essa breve apresentação sobre mim
    e meu trabalho tenha sido útil para você. Caso queira saber mais, fique à vontade para entrar em contato.</p>
</div>
