.container{
  display: flex;
  margin-left: 25%;
  margin-top: 7%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40% ;
  border: 2px solid var(--cor-branco);
  border-radius: 10px;
  padding: 2%;
}
p{
  margin-bottom: 2%;
  font-weight: 200;
  font-size: 17px;
}
h1{
  margin-bottom: 2%;
  background-color: var(--cor-btn-bg);
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 3px 5px 3px var(--cor-preto);
  cursor: pointer;
  padding: 10px;
  text-align: center;
}
