.container{
  display: flex;
  margin-left: 25%;
  margin-top: 7%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40% ;
  border: 2px solid var(--cor-branco);
  border-radius: 10px;
  padding: 2%;
}
p{
  margin-bottom: 2%;
  font-weight: 200;
  font-size: 17px;
}
h1{
  margin-bottom: 2%;
}
