.container{
  display: flex;
  margin-left: 15vw;
  margin-top: 12vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40% ;
  border: 2px solid var(--cor-branco);
  border-radius: 10px;
  padding: 2%;
}
p{
  margin-bottom: 2%;
  font-weight: 200;
  font-size: 17px;
}
h1{
  margin-bottom: 2%;
  background-color: var(--cor-btn-bg);
  width: 98%;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 3px 5px 3px var(--cor-preto);
  cursor: pointer;
  padding: 10px;
  text-align: center;
}
@media only screen and (max-width:1024px) {
  .container{
    width: 50%;
    padding: 3vw;
  }
  h1{
    font-size: 3vw;
  }
  p{
    margin-top: 2vh;
    font-size: 1.5vw;
  }

}
@media only screen and (max-width:425px) {
  .container{
    width: 70%;
    margin: 12vh auto;
  }
  h1{
    font-size: 5vw;
    width: 80%;
    margin-top: 1vh;
  }
  p{
    font-size: 3vw;
  }
}
