.app-side-bar {
  width: 9vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

.app-header {
  position: fixed;
  z-index: 1;
}

.content-wrapper {
  margin-left: 17vw; /* Largura da sidebar */
  margin-top: 3%;

}

.app-avatar {
  position: fixed;
  z-index: 3;
}

.app-footer {
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
}


@media only screen and (max-width: 768px) {
.app-avatar {
  display: none;
}
.app-side-bar{
  width: 25vw;
}
.content-wrapper{
  margin-left: 25vw;
}
}
@media only screen and (max-width: 425px) {
.content-wrapper{
  margin: 0 auto;
}

}
