<div class="container">

  <div class="menu">
    <button (click)="scrollTo('sobre',70)">Vatien</button>
    <button (click)="scrollTo('servicos',70)">Serviços</button>
    <button (click)="scrollTo('cadastro',70)">Cadastro</button>
  </div>
  <div class="container2">
    <div class="container1"  id="sobre">
      <h1>VATIEN</h1>

      <p>O nosso canal do Youtube surgiu com o objetivo de trazer conteudos educacionais informativos,
        em nosso videos busco trazer a minha visão sobre assuntos relacionados a Investimentos,
        Empreendedorismo e Produtividades,tendo um foco maior em Criptomoedas.
      </p>

      <p>Mais da onde surgiu a palavra VATIEN? por que esse nome?Na epoca a ideia era uma combinação
        das iniciais das palavras conforme a listas abaixo:
      </p>
      <ul>
        <p>V = VALUATION</p>
        <p>AT = ANÁLISE TÉCNICA</p>
        <p>I = INVESTIMENTOS</p>
        <p>E = EMPREENDEDORISMO</p>
        <p>N = NOTÍCIAS</p>
      </ul>

      <p>Com o passar do tempo o Canal começou a crescer com os assuntos
        de criptomoedas e acabamos direcionando mais para essa frente,
        porém o Objetivos e assuntos que buscamos trazer continuam os mesmo,
        pois afinal é o que gosto de estudar.
      </p>
    </div>

    <div class="container1"  id="servicos">
      <h1>Serviços que Prestamos:</h1>

      <h2>Consultorias</h2>
      <p>Ajudo voce com suas dúvidas em criptomoedas em um bate papo online</p>

      <h2>Produtos Digitais</h2>
      <p>Estamos preparando um curso excluisvo com tudo sobre o Mercado atual,
        abordando gestão financeira e planejtamento</p>

      <h2>Produtos Físicos</h2>
      <p>Estamos preparando um livro e materiais de cabeceira para controlar
        seus investimentos e suas carteiras de criptomoedas e outros</p>
    </div>
    <div class="container1"  id="cadastro">
      <h1>CADASTRO</h1>
      <p>Realize seu cadastro e recebe novidades exclusivas sobre sorteios, serviços
        e promoções direto no seu email.</p>
      <button (click)="cadastro()">Cadastre-se</button>
    </div>
  </div>

</div>
