@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  --cor-preto: black;
  --cor-branco: white;



}


html[data-theme="light"]{
  --cor-bg: #4FC3FF;
  --cor-btn-txt: rgb(83, 129, 172);
  --cor-btn-bg: rgb(21, 34, 47);
  --cor-sidebar: #001934;
  --cor-sidebar-line: white;
  --cor-button: rgb(0, 33, 63);
  --cor-buttondark: rgb(6, 79, 173);
  --cor-static-txt: rgb(4, 17, 29);
  --cor-dynamic-txt: rgb(17, 43, 75);
  --cor-footer: #001934;
  --cor-header: #001934;
  color: var(--cor-preto);
  background-color: var(--cor-bg);
}

html[data-theme="dark"]{
  --cor-bg: rgb(3, 14, 29);
  --cor-btn-txt: white;
  --cor-btn-bg: #0077cc;
  --cor-sidebar: rgb(0, 4, 12);
  --cor-sidebar-line: white;
  --cor-button: rgb(0, 33, 63);
  --cor-buttondark: rgb(6, 79, 173);
  --cor-static-txt: rgb(55, 202, 255);
  --cor-dynamic-txt: rgb(0, 105, 166);
  --cor-footer: #000000;
  --cor-header: #000000;
  color: var(--cor-branco);
  background-color: var(--cor-bg);
}
