.container {
  width: 100%;
  margin: 5% auto;
}

.cssWordEfect {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cssWordEfect1 {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 3vw;
  align-items: center;
  justify-content: center;
  margin: 6vh auto;
  border: 2px solid var(--cor-branco);
  border-radius: 5px;
  margin-left: 10vw;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
}

.wrapper .static-txt {
  color: var(--cor-static-txt);
  font-size: 5vw;
  font-style: italic;
}
.wrapper .static-txt > span {
  animation: glow 10.2s ease-in-out infinite;
}

.wrapper .static-txt > span:nth-child(2) {
  animation-delay: 2s;
}

.wrapper .static-txt > span:nth-child(3) {
  animation-delay: 4s;
}

.wrapper .static-txt > span:nth-child(4) {
  animation-delay: 6s;
}

.wrapper .static-txt > span:nth-child(5) {
  animation-delay: 8s;
}

.wrapper .static-txt > span:nth-child(6) {
  animation-delay: 10.2s;
}

@keyframes glow {
  0%,
  100% {
    color: white;
  }
  10%,
  90% {
    color: var(--cor-static-txt);
    top: -30vw;
  }
}

.wrapper .dynamic-txts {
  height: 6vw;
  line-height: 6vw;
  overflow: hidden;
  margin-left: 2vw;
  margin-top: 1.5vh;

}
.wrapper .dynamic-txts li {
  color: var(--cor-dynamic-txt);
  list-style: none;
  font-size: 5vw;
  position: relative;
  top: 0;

  animation: slide 10s steps(5) infinite;
}

@keyframes slide {
  100% {
    top: -30vw;
  }
}

.dynamic-txts li span {
  position: relative;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 70%;
  width: 100%;
  background: var(--cor-bg);
  border-left: 2px solid var(--cor-dynamic-txt);
  animation: typing 2s steps(19) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -2vw 0 -2vw;
  }
}

button {
  color: var(--cor-btn-txt);
  width: 50%;
  background: var(--cor-btn-bg);
  font-size: 1.5vw;
  font-weight: 500;
  font-style: italic;
  padding: 2vw;
  margin: 2%;
  border: none;
  border-radius: 5px;
  box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw var(--cor-preto);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-0.2em);
  box-shadow: 0.7vw 0.7vw 0.7vw 0.7vw var(--cor-preto);
}

h4 {
  font-weight: 300;
  font-size: .8vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 0.9vw;
  font-weight: 300;
  margin-bottom: 3vh;
}
