<div class="container">
  <div class="cssWordEfect">
    <div class="wrapper">
      <div class="static-txt">
        <span>V</span>
        <span>AT</span>
        <span>I</span>
        <span>E</span>
        <span>N</span>
      </div>
      <div class="dynamic-txts">
        <li><span>VALUATION   . .</span></li>
        <li><span>ANÁLISE TÉCNICA   . .</span></li>
        <li><span>INVESTIMENTOS   . .</span></li>
        <li><span>EMPREENDEDORISMO    . .</span></li>
        <li><span>NOTÍCIAS  . .</span></li>
      </div>

    </div>
  </div>

<div class="cssWordEfect1">
  <div class="static-txt1">
    <h4>Olá, meu nome é,</h4>
    <h2>Victor Marino</h2>
    <h3>Sou Programador Full Stack focando no desenvolvimento de aplicações com JavaScript e seus frameworks,
      tais como Angular, React e Node.js, e criador de conteúdo no canal no YouTube VATIEN escolha uma das opções abaixo para
    se direcionado ao assunto de interesse.</h3>
  </div>
  <div class="buttons">
    <button class="animated-button" (click)="youtube()">VATIEN YOUTUBE</button>
    <button class="animated-button"(click)="portfolio()">PORTFÓLIO </button>
  </div>

</div>


</div>
