.container{
margin-left: 150px;
}

.cssWordEfect{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.cssWordEfect1{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.buttons{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.wrapper{
  display: inline-flex;
}

.wrapper .static-txt{
  color: var(--cor-static-txt);
  font-size: 130px;
  font-style: italic;
}
.wrapper .static-txt > span{

    animation: glow 10.2s ease-in-out infinite;
}

.wrapper .static-txt > span:nth-child(2){

  animation-delay: 2s;
}

.wrapper .static-txt > span:nth-child(3){

  animation-delay: 4s;
}

.wrapper .static-txt > span:nth-child(4){
  animation-delay: 6s;
}

.wrapper .static-txt > span:nth-child(5){
  animation-delay: 8s;
}

.wrapper .static-txt > span:nth-child(6){
  animation-delay: 10.2s;
}


@keyframes glow{
0%,100%{
color: white;

}
10%,90%{
  color: var(--cor-static-txt);

  }
}

.wrapper .dynamic-txts{
  margin-left: 50px;
  margin-top: 5%;
  height: 100px;
  line-height: 100px;
  overflow: hidden;

}
.wrapper .dynamic-txts li{
  color: var(--cor-dynamic-txt);
  list-style: none;
  font-size: 80px;
  position: relative;
  top: 0;

  animation: slide 10s steps(5) infinite;
}

@keyframes slide{
  100%{
   top: -500px;
  }
}

.dynamic-txts li span{
  position: relative;

}

.dynamic-txts li span::after{
  content: "";
  position: absolute;

  left: 0;
  height: 70%;
  width: 100%;
  background: var(--cor-bg);
  border-left: 2px solid var(--cor-dynamic-txt);
  animation: typing 2s steps(19) infinite;
}

@keyframes typing{
  100%{
    left: 100%;
    margin: 0 -35px 0 -35px;
  }
}

.static-txt1{
  width: 40%;
}
button {
  color: var(--cor-btn-txt);
  background: var(--cor-btn-bg);
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  padding: 30px;
  margin: 2%;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 3px 5px 3px var(--cor-preto);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-0.2em);
  box-shadow: 10px 6px 10px 6px var(--cor-preto);
}


h4{
  font-weight: 300;
  font-size: 16px;
}
h2{
  font-size: 60px;
}
h3{
  font-size: 20px;
  font-weight: 300;
}
